node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db
Icon
Icon?

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# DATABASE
database.db
# database.sqlite
# database.sqlite3

# Folders
static/fonts
static/images
static/UNUSED
src/routes/demos
# /static/js
# /static/css

# FIles
TODO.md
migrate-image-names.js
CLAUDE.md
WARP.md